[submodule "RobinhoodPython"]
	path = RobinhoodPython
	url = git@github.com:andrew-kirfman/RobinhoodPython.git
[submodule "yahoo_finance_data_extract"]
	path = yahoo_finance_data_extract
	url = git@github.com:spidezad/yahoo_finance_data_extract.git
[submodule "HTTP_Request_Randomizer"]
	path = HTTP_Request_Randomizer
	url = git@github.com:pgaref/HTTP_Request_Randomizer.git
[submodule "YahooFinanceHistoricalDataExtractor"]
	path = YahooFinanceHistoricalDataExtractor
	url = git@github.com:andrew-kirfman/YahooFinanceHistoricalDataExtractor.git
[submodule "accessory_libraries/InvestmentAggregator"]
	path = accessory_libraries/InvestmentAggregator
	url = git@github.com:andrew-kirfman/InvestmentAggregator.git
[submodule "AccessoryLibraries/HTTP_Request_Randomizer"]
	path = AccessoryLibraries/HTTP_Request_Randomizer
	url = git@github.com:pgaref/HTTP_Request_Randomizer.git
[submodule "AccessoryLibraries/RobinhoodPython"]
	path = AccessoryLibraries/RobinhoodPython
	url = git@github.com:andrew-kirfman/RobinhoodPython.git
[submodule "AccessoryLibraries/YahooFinanceHistoricalDataExtractor"]
	path = AccessoryLibraries/YahooFinanceHistoricalDataExtractor
	url = git@github.com:andrew-kirfman/YahooFinanceHistoricalDataExtractor.git
[submodule "BollingerBandStrategy"]
	path = BollingerBandStrategy
	url = git@github.com:andrew-kirfman/BollingerBandStrategy.git
